root = true

[*.{kt,kts}]
indent_size = 4
insert_final_newline = true
ktlint_code_style = android_studio
# Compose UI functions use PascalCase by Android convention.
ktlint_function_naming_ignore_when_annotated_with = Composable
